development

data/wikirank/*.txt
data/wiki_data/*.jsonl
# data/wiki_data/*.txt
data/wiki_data/enwiki-2024-h.txt
data/wiki_data/enwiki-2024.titles.txt
data/wiki_data/.cache/*
data/nonexistent_refusal
scripts/data_download-full.sh

__pycache__/
data/longwiki
data/nonsense_all
data/precise_qa

debug.ipynb
.env
.DS_Store

# local caches / generated artifacts
\# optional cache dir/
cache/
